*.pyc
*sublime*
docs/
cool-papers/from_offsets_*.txt
cool-papers/paper_lines_*.txt
cool-papers/insights/embeddings_key.txt
cool-papers/insights/embeddings.npy
cool-papers/insights/embedding_ids.txt
cool-papers/news_insights/embeddings_key.txt
cool-papers/news_insights/embeddings.npy
cool-papers/news_insights/embedding_ids.txt
