{# templates/contact.html #}

{% extends "_template.html" %}

{% block title %}Contact{% endblock title %}

{% block content %}
                <div class="col-12">
                    <h3>{{ title }}</h3>
                    <div class="col-12 text-center">
                    <img class="img-fluid rounded" src="{{ static_url }}/img/2025-09-03-lab_retreat.webp" alt="A group picture in with lab members around a coffee table in summer." width="1750" height="1167" style="width: 80%;">
                    </div>
                    <p>{{ intro }}</p>
                    <p>{{ content }}</p>
                    <p>{{ outro }}</p>
                </div>
{% endblock content %}
