{# templates/contact.html #}

{% extends "template.html" %}

{% block title %}Contact{% endblock title %}

{% block content %}
                <div class="col-12">
                    <h3>{{ title }}</h3>
                    <div class="col-12 text-center">
                    <img class="img-fluid rounded" src="{{ static_url }}/img/2023-10-23-Group_photo.jpg" alt="A group picture in the CeMM brain lounge, with five lab members looking at the camera." style="width: 80%;">
                    </div>
                    <p>{{ intro }}</p>
                    <p>{{ content }}</p>
                    <p>{{ outro }}</p>
                </div>
{% endblock content %}
