{# templates/index.html #}

{% extends "template.html" %}

{% block content %}                <!-- Left bar with info -->
                <div class="col-sm-3 center-block brd">  <!--  custom-col-width -->
                    <dl>
                        <p>CeMM - Research Centerfor Molecular Medicine, Austrian Academy of Sciences,</p>
                        <p>Ludwig Boltzmann Institute for Network Medicine, University of Vienna</p>
                        <p>Vienna, Austria</p>
                        <!-- <dd>
                            <span property="schema:address" typeof="http://schema.org/PostalAddress" vocab="http://schema.org/PostalAddress/">
                                <a href="https://goo.gl/maps/qa1K9PSu8xSp7z3M6">
                                    <span property="streetAddress">Lazarettgasse 14, AKH BT 25.3</span>,<br />
                                    <span property="postalCode">1090</span>
                                    <span property="addressLocality">Vienna</span>, 
                                    <span property="addressCountry">Austria</span>
                                </a>
                            </span>
                        </dd> -->
                    </dl>

                    <br>

                    <h4>Research highlights</h4>
                    <!-- <h5>Spatially resolved biology and tissue architecture:</h5> -->
                    <ol>
                    <!-- <h5>Computational methods and Software:</h5> -->
                        <li>
                            <a rel="datacite:doi" href="http://dx.doi.org/10.1101/2024.02.14.580236">
                            Zheng, <i>et al</i>, BioRxiv, 2024</a>
                        </li>
                        <li>
                            <a rel="datacite:doi" href="http://dx.doi.org/10.1038/s41592-022-01657-2">
                            Kim, <i>et al</i>, Nature Methods, 2022</a>
                        </li>
                    </ol>

                    <h4>Latest news</h4>
                    {% for id, new in (news.items()|sort(reverse=True))[:4] %}
                        <p><strong>{{ id }}</strong> - {{ new.title }}</p>
                    {% endfor %}
                    <a href="news.html">More news here.</a>
                </div>

                <!-- Remaining content -->
                <div class="col-sm-9 blog-main" id="research">

                    <p>
                        We are a research group at <a rel="schema:affiliation" href="https://cemm.at/research/groups/andre-rendeiro-group">CeMM </a>- the <a rel="schema:affiliation" href="https://cemm.at/research/groups/andre-rendeiro-group">Research Center for Molecular Medicine</a> of the <a rel="schema:memberOf" href="https://www.oeaw.ac.at/en/">Austrian Academy of Sciences</a> and at the <a href="">Ludwig Boltzmann Institute for Network Medicine</a> at the <a href=""> University of Vienna</a> working on computational and molecular methods to study human aging and pathology.
                    </p>
                    <p>
                        We are particularly interested in the organization of cells at the micro-anatomical level and understanding how this changes during the lifespan of individuals and at the onset of disease.
                    </p>
                    <p>
                        We primarily develop computational methods for the analysis of spatial data (spatial transcriptomics, highly multiplexed imaging), and its integration with various modalities of molecular and clinical data of individuals along their lifespan.
                    </p>

                    <div class="col-sm-12 d-flex justify-content-center">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Spatially resolved,<br>cross-anatomical scale biology</h5>
                                <br>
                                <img class="card-img-top mx-auto" src="assets/img/research_a.png" alt="ALT" style="width: 105%">
                                <!-- <p class="card-text">Text</p> -->
                                <!-- <a href="#" class="btn btn-primary">Link</a> -->
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Aging biology,<br> disease risk and onset</h5>
                                <br>
                                <img class="card-img-top mx-auto" src="assets/img/research_b.png" alt="ALT" style="width: 105%">
                                <!-- <p class="card-text">Text</p> -->
                                <!-- <a href="#" class="btn btn-primary">Link</a> -->
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Artificial intelligence and software engineering</h5>
                                <br>
                                <img class="card-img-top mx-auto" src="assets/img/research_c.png" alt="ALT" style="width: 105%">
                                <!-- <p class="card-text">Text</p> -->
                                <!-- <a href="#" class="btn btn-primary">Link</a> -->
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}
