{# templates/index.html #}

{% extends "template.html" %}

{% block content %}
                <!-- Left bar with info -->
                <div class="col-md-3 col-12 center-block mb-3">
                    <dl>
                        <p>CeMM - Research Center for Molecular Medicine, Austrian Academy of Sciences,</p>
                        <p>Ludwig Boltzmann Institute for Network Medicine, University of Vienna</p>
                        <p>Vienna, Austria</p>
                    </dl>

                    <img class="img-fluid" src="{{ static_url }}/img/group_photo_2023-10-23.jpg" alt="group picture">

                    <br>

                    <h4>Research highlights</h4>
                    <!-- <h5>Spatially resolved biology and tissue architecture:</h5> -->
                    <ol>
                    <!-- <h5>Computational methods and Software:</h5> -->
                        <li>
                            <a rel="datacite:doi" href="http://dx.doi.org/10.1101/2024.02.14.580236">
                            Zheng, <i>et al</i>, BioRxiv, 2024</a>
                        </li>
                        <li>
                            <a rel="datacite:doi" href="http://dx.doi.org/10.1038/s41592-022-01657-2">
                            Kim, <i>et al</i>, Nature Methods, 2022</a>
                        </li>
                    </ol>

                    <h4>Latest news</h4>
                    {% for id, new in (news.items()|sort(reverse=True))[:4] %}
                        <p><strong>{{ id }}</strong> - {{ new.title }}</p>
                    {% endfor %}
                    <a href="/news/">More news here.</a>
                </div>

                <div class="col-12 d-md-none"> <!-- Add hr on small screens -->
                    <hr class="my-3">
                </div>

                <!-- Remaining content -->
                <div class="col-md-9 col-12 blog-main" id="research">

                    <p>
                        We are a research group at <a rel="schema:affiliation" target="_blank" href="https://cemm.at/research/groups/andre-rendeiro-group">CeMM </a>- the <a rel="schema:affiliation" target="_blank" href="https://cemm.at/research/groups/andre-rendeiro-group">Research Center for Molecular Medicine</a> of the <a rel="schema:memberOf" target="_blank" href="https://www.oeaw.ac.at/en/">Austrian Academy of Sciences</a> and at the <a target="_blank" href="https://lbi-netmed.com/">Ludwig Boltzmann Institute for Network Medicine</a> at the <a target="_blank" href="https://www.univie.ac.at/en/"> University of Vienna</a> working on computational and molecular methods to study human aging and pathology.
                    </p>
                    <p>
                        We are particularly interested in the organization of cells at the micro-anatomical level and understanding how this changes during the lifespan of individuals and at the onset of disease.
                    </p>
                    <p>
                        We primarily develop computational methods for the analysis of spatial data (spatial transcriptomics, highly multiplexed imaging), and its integration with various modalities of molecular and clinical data of individuals along their lifespan.
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-4 mb-4 d-flex">
                            <div class="card text-center w-100">
                                <div class="card-body">
                                    <h5 class="card-title">Spatially resolved,<br>cross-anatomical scale biology</h5>
                                    <br>
                                    <img class="card-img-top mx-auto" src="{{ static_url }}/img/research_a.png" alt="ALT">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4 d-flex">
                            <div class="card text-center w-100">
                                <div class="card-body">
                                    <h5 class="card-title">Aging biology,<br>disease risk and onset</h5>
                                    <br>
                                    <img class="card-img-top mx-auto" src="{{ static_url }}/img/research_b.png" alt="ALT">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4 d-flex">
                            <div class="card text-center w-100">
                                <div class="card-body">
                                    <h5 class="card-title">Artificial intelligence and software engineering</h5>
                                    <br>
                                    <img class="card-img-top mx-auto" src="{{ static_url }}/img/research_c.png" alt="ALT">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

{% endblock content %}
