{# templates/manual.html #}

{% extends "template.html" %}

{% block head %}
        {{ super() }}
        <!-- Prism code highlighting -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" integrity="sha512-/mZ1FHPkg6EKcxo0fKXF51ak6Cr2ocgDi5ytaTBjsQZIH/RNs6GF6+oId/vPe3eJB836T36nXwVh/WBl/cWT4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}

{% block title %}Lab manual{% endblock title %} - {{ page_title }}

{% block content %}
              <h1 class="page-title">Lab manual</h1>
              <br>
              <hr>
              <br>
              <ul class="nav nav-tabs">
                {% for idx, page in manual_pages.items() %}
                <li class="nav-item active">
                  {% if page.active %}
                  <a class="nav-link active" aria-current="page" href="{{ page.page_url }}">{{ page.page_title }}</a>
                  {% else %}
                  <a class="nav-link" href="{{ page.page_url }}">{{ page.page_title }}</a>
                  {% endif %}
                  </li>
                {% endfor %}
              </ul>
              <br>
              <hr>
              <br>
              <div class="row">
                  {{ page_content }}
              </div>
{% endblock content %}



{% block js %}
        {{ super() }}
        <!-- Prism JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-core.min.js" integrity="sha512-x0aNx8s5fNTSk7iaTiSuUtz6vbT7gtGjk+Dotp17u4TmUEbJUwNMUFKxMBlnMQ1+N8E5exPHvRcF1yoxJ8b/iA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-python.min.js" integrity="sha512-3qtI9+9JXi658yli19POddU1RouYtkTEhTHo6X5ilOvMiDfNvo6GIS6k2Ukrsx8MyaKSXeVrnIWeyH8G5EOyIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/components/prism-bash.min.js" integrity="sha512-CILPDr/8BlkkElCeI+f2yMu0fzgwWqpQ0Cdr0busFfySJJ4SoCRivbT6+Z+SWPkjWwBil9NO0tHd6NSfpwiQaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock js %}
