{# templates/news.html #}

{% extends "template.html" %}

{% block content %}
                <div class="col blog-main">
                    <h3>{{ title }}</h3>
                    <p>{{ intro }}</p>
                    <p>{{ content }}</p>
                    {% for id, new in news.items()|sort(reverse=True) %}
                    <h5><strong>{{ id }}</strong> - {{ new.title }}</h5>
                    <div class="col-sm-12 d-flex">
                        {% if new.img is not none %}
                        <img class="img-responsive me-3" src="{{ static_url }}/img/{{ new.img }}" alt="{{ new.description }}" style="width: 30%;">
                        {% endif %}
                        {% if new.description is not none %}
                        <p class="mb-0">{{ new.description }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <p>{{ outro }}</p>
                </div>
{% endblock content %}
