{# templates/news.html #}

{% extends "template.html" %}

{% block title %}News{% endblock title %}

{% block content %}
                <div class="row">
                    <h3>{{ title }}</h3>
                    <p>{{ intro }}</p>
                    <p>{{ content }}</p>
                    {% for id, new in news.items()|sort(reverse=True) %}
                        <div class="col-12">
                            <h5 tabindex="0"><strong>{{ id }}</strong> - {{ new.title }}</h5>

                            <div class="d-md-none"> <!-- small screens -->
                                <div class="row overflow-x-auto">
                                    {% if new.img is not none %}
                                    <div class="col-12">
                                        <a href="{% if new.img.startswith('http') %}{{ new.img }}{% else %}{{ static_url }}/img/{{ new.img }}{% endif %}">
                                            <img class="img-responsive rounded mx-auto d-block"
                                                 src="{% if new.img.startswith('http') %}{{ new.img }}{% else %}{{ static_url }}/img/{{ new.img }}{% endif %}"
                                                 {% if new.description is not none %}
                                                 alt="{{ new.img_alt }}"
                                                 {% endif %}
                                                 tabindex="0"
                                                 style="display: block; max-width: 100%; height: auto">
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% if new.description is not none %}
                                    <div class="col-12">
                                        <p class="mb-0">{{ new.description }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-12 d-none d-md-block"> <!-- larger screens -->
                                <div class="row overflow-x-auto">
                                    {% if new.img is not none %}
                                    <div class="col-6 col-md-3">
                                        <a href="{% if new.img.startswith('http') %}{{ new.img }}{% else %}{{ static_url }}/img/{{ new.img }}{% endif %}">
                                            <img class="img-responsive rounded"
                                                 src="{% if new.img.startswith('http') %}{{ new.img }}{% else %}{{ static_url }}/img/{{ new.img }}{% endif %}"
                                                 {% if new.description is not none %}
                                                 alt="{{ new.img_alt }}"
                                                 {% endif %}
                                                 tabindex="0"
                                                 style="display: block; max-width: 100%; height: auto">
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% if new.description is not none %}
                                    {% if new.img is not none %}
                                    <div class="col-6 col-md-9">
                                    {% else %}
                                    <div class="col-12">
                                    {% endif %}
                                        <p class="mb-0">{{ new.description }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <br>
                        </div>
                        {% endfor %}
                    <p>{{ outro }}</p>
                </div>
{% endblock content %}
