{# templates/publications.html #}

{% extends "_template.html" %}

{% set icons = {
    'Data': 'bi-database-fill',
    'Preprint': 'bi-file-earmark-text-fill',
    'PDF': 'bi-file-pdf-fill',
    'Code': 'bi-code-slash',
    'Notebook': 'bi-file-earmark-text-fill',
    'Press': 'bi-newspaper',
    'Video': 'bi-file-play-fill',
}
%}

{% set article_type = {
    'opinion': 'bi-lightbulb',
    'review': 'bi-book',
}
%}

{% block title %}Publications{% endblock title %}

{% block head %}
{{ super() }}
    <!-- Altmetrics -->
    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
    <!-- Dimensions -->
    <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
{% endblock head %}

{% block content %}
                <div class="col-12">
                    <h3>{{ title }}</h3>
                    <p>{{ intro }}</p>
                    <p>{{ content }}</p>
                    <ol reversed="">
                        {% for doi, publication in publications.items() %}
                        <li>
                            {% if publication.highlight %}
                            <div class="p-3 mb-3 border border-3 border-primary rounded-2">
                            {% endif %}

                            {{ publication.authors }}.
                            <br>
                            <strong>{{ publication.title }}</strong>.
                            <br>
                            <div class="d-flex flex-wrap">
                            <i>{{ publication.publisher }}</i> ({{ publication.year }}). <a rel="datacite:doi" href="https://doi.org/{{ doi }}">doi:{{ doi }}</a>
                                <span
                                    data-badge-type="2"
                                    data-doi="{{ doi }}"
                                    data-hide-no-mentions="true"
                                    class="altmetric-embed">
                                </span>
                                <span
                                    class="__dimensions_badge_embed__"
                                    data-doi="{{ doi }}"
                                    data-legend="hover-right"
                                    target="_blank"
                                    data-style="small_rectangle">
                                </span>
                            </div>
                            {% if publication.type not in ['journal', 'preprint'] %}
                            <i class="bi {{ article_type[publication.type] }}">
                            {{ publication.type.capitalize() }} article
                            </i>
                            <br>
                            {% endif %}
                            {% if publication.resources is not none %}
                            <div class="d-flex flex-wrap align-items-center gap-2">
                            {% for resource in publication.resources %}
                            {% for resource_type, url in resource.items() %}
                                <a href="{{ url }}">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span
                                            class="{{ icons[resource_type] }}"
                                            aria-hidden="true"
                                            style="font-size: 1rem; color: cornflowerblue;"
                                        ></span>
                                        {{ resource_type }}
                                    </button>
                                </a>
                            {% endfor %}
                            {% endfor %}
                            </div>
                            {% endif %}

                            {% if publication.highlight %}
                            </div>
                            {% endif %}
                        </li>
                        <br>
                        {% endfor %}
                    </ol>
                    <p>{{ outro }}</p>
                </div>
                
                <div class="col-12">
                    <h3>Previous publications important for the foundation of our group</h3>
                    <ol reversed="">
                        {% for doi, publication in previous_publications.items() %}
                        <li>
                            {% if publication.highlight %}
                            <span class="badge bg-primary">Highlight</span>
                            {% endif %}
                            {{ publication.authors }}.
                            <br>
                            <strong>{{ publication.title }}</strong>.
                            <br>
                            <div class="d-flex flex-wrap align-items-center gap-2">
                            <i>{{ publication.publisher }}</i> ({{ publication.year }}). <a rel="datacite:doi" href="https://doi.org/{{ doi }}">doi:{{ doi }}</a>
                                <span
                                    data-badge-type="2"
                                    data-doi="{{ doi }}"
                                    data-hide-no-mentions="true"
                                    class="altmetric-embed">
                                </span>
                                <span
                                    class="__dimensions_badge_embed__"
                                    data-doi="{{ doi }}"
                                    data-legend="hover-right"
                                    target="_blank"
                                    data-style="small_rectangle">
                                </span>
                            </div>
                            {% if publication.resources is not none %}
                            <div class="d-flex flex-wrap align-items-center gap-2">
                            {% for resource in publication.resources %}
                            {% for resource_type, url in resource.items() %}
                                <a href="{{ url }}">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span
                                            class="{{ icons[resource_type] }}"
                                            aria-hidden="true"
                                            style="font-size: 1rem; color: cornflowerblue;"
                                        ></span>
                                        {{ resource_type }}
                                    </button>
                                </a>
                            {% endfor %}
                            {% endfor %}
                            </div>
                            {% endif %}
                        </li>
                        <br>
                        {% endfor %}
                    </ol>
                </div>

{% endblock content %}
