{# templates/publications.html #}

{% extends "template.html" %}

{% block content %}
                <div class="col-sm-12 blog-main">
                    <h3>{{ title }}</h3>
                    <p>{{ intro }}</p>
                    <p>{{ content }}</p>
                    <ul>
                        {% for id, publication in publications.items()|sort(reverse=True) %}
                        <li>
                            {{ publication.description }}
                        </li>
                        {% endfor %}
                    </ul>
                    <p>{{ outro }}</p>
                </div>
                
                <div class="col-sm-12 blog-main">
                    <h3>Previous publications important for the foundation of our group</h3>
                
                    {% include "papers.html" %}
                </div>

{% endblock content %}
