{# templates/software.html #}

{% extends "template.html" %}

{% block content %}
                <div class="row blog-main">
                    <h3>{{ title }}</h3>
                    <p>{{ intro }}</p>
                    <p>{{ content }}</p>
                    {% for id, soft in software.items() %}
                    <div class="col-12">
                        <h4>{{ soft.title }}</h4>
                        <div class="row">
                            {% if soft.img is not none %}
                            <div class="col-9 col-md-3">
                                    {% if soft.img is not none %}
                                        {% if soft.img.startswith('http') %}
                                        <a href="{{ soft.url_gh }}" target="_blank">
                                            <img class="rounded mx-auto d-block" src="{{ soft.img }}" alt="{{ soft.description }}" style="width: auto; display: block; max-height: 12em; max-width: 12em">
                                        </a>
                                        {% else %}
                                        <a href="{{ soft.url_gh }}" target="_blank">
                                            <img class="rounded mx-auto d-block" src="{{ static_url }}/img/{{ soft.img }}" alt="{{ soft.description }}" style="width: auto; display: block; max-height: 12em; max-width: 12em">
                                        </a>
                                        {% endif %}
                                    {% endif %}
                            </div>
                            {% endif %}
                            {% if soft.img is not none %}
                            <div class="col-12 col-md-9">
                            {% else %}
                            <div class="col-12">
                            {% endif %}
                            <h5 class="mb-0">{{ soft.subtitle }}</h5>
                            {% if soft.description is not none %}
                                <p class="mb-0">{{ soft.description }}</p>
                            {% endif %}
                            <br>
                            <ul class="list-inline">
                                <li>
                                    <span class="bi bi-link-45deg"><strong>Github:</strong> <a href="{{ soft.url_gh }}" target="_blank">{{ soft.url_gh }}</a></span>
                                </li>
                                <li>
                                    <span class="bi bi-link-45deg"><strong>Docs:</strong> <a href="{{ soft.url_docs }}" target="_blank">{{ soft.url_docs }}</a></span>
                                </li>
                            </ul>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                    <p>{{ outro }}</p>
                </div>
{% endblock content %}
