{# templates/team.html #}

{% extends "_template.html" %}

{% block title %}Team{% endblock title %}

{% block content %}
                <div class="col-sm-12">
                    <h3>{{ title }}</h3>
                    <p>{{ intro }}</p>
                    <p>{{ content }}</p>
                    <div class="row">
                            {% for id, member in members.items()|sort %}
                            <div class="card text-center col-sm-6 col-md-3 mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">{{ member.name }}</h5>
                                    <div class="avatar">
                                        <img
                                        src="{{ member.photo }}"
                                        alt="{{ member.photo_alt }}"
                                        tabindex="0"
                                        loading="lazy"
                                        decoding="async">
                                    </div>
                                    <!-- <img src="{{ member.photo }}" alt="{{ member.name }}" > -->
                                    <p class="card-text">{{ member.role }}
                                        <br>
                                        {% if member.interests %}
                                        <ul>
                                            {% for interest in member.interests %}
                                            <li>{{ interest }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </p>
                                    <!-- <a href="#" class="btn btn-primary">{{ member.email }}</a> -->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <p></p>
                    <!-- center -->
                    <p class="">{{ outro }}</p>
                </div>

                {% if alumni %}
                <h3>Alumni</h3>
                <div class="col-sm-12 blog-main">
                    <div class="col-sm-12 d-flex justify-content-center">
                        {% for id, alumnus in alumni.items()|sort %}

                        {% if loop.index == 5 %}
                        </div>
                        <div class="col-sm-12 d-flex justify-content-center">
                        {% endif %}

                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ alumnus.name }}</h5>
                                <br>
                                <!-- class="img-responsive" -->
                                <img
                                    class="card-img-top"
                                    tabindex="0"
                                    src="{{ alumnus.photo }}"
                                    alt="{{ alumnus.photo_alt }}"
                                    style="width: 90%">
                                <!-- <img src="{{ alumnus.photo }}" alt="{{ alumnus.name }}" > -->
                                <p class="card-text">{{ alumnus.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
                
{% endblock content %}
